/* Загальні стилі для всіх елементів */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

$primary-color: #ff6600;
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ff6600; 
}

section{
  padding: 20px;
  background-color: antiquewhite;
  border: 2px solid #ff6600; 
  border-radius: 20px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  max-width: 100px;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

a {
  color: $primary-color;
  &:hover {
    color: darken($primary-color, 10%);
  }
}

h1 {
  color: $primary-color;
  font-size: 32px;
}

main {
  flex: 1;
  padding: 1rem;
  display: flex;
}

#home{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about{
  flex: 1;
}
#services{
  flex: 1;
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #333;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

/* Стилі для форми */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 400px;

  label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea {
    resize: vertical;
  }

  button {
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
  }
}


/* Стилі для елементів на різних пристроях */
@media (max-width: 600px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  nav img {
      margin-bottom: 10px;
  }

  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin: 10px 0;
  }
}
